<!-- INCLUDE overall_header.html -->

<h2>Reset Password</h2>

<div class="panel">
   <div class="inner"><span class="corners-top"><span></span></span>

   <div class="content" style="min-height:200px">
      <p>
        <!-- IF S_RESET_SHOW_FORM -->

        <script>
          // <![CDATA[
            $jq(document).ready(function()
            {
              hashPasswords("reset", ["new_password", "password_confirm"], "resetSubmit");
            });
          // ]]>
        </script>

         <form action="{S_RESET_ACTION}" method="post" id="reset">

           <dl>
       			<dt><label for="new_password">New password:</label><br /><span>explanation maybe?</span></dt>
       			<dd><input type="password" name="new_password" id="new_password" maxlength="255" value="{NEW_PASSWORD}" class="inputbox" title="{L_CHANGE_PASSWORD}" /></dd>
       		</dl>
       		<dl>
       			<dt><label for="password_confirm">Confirm password:</label><br /><span>explanation maybe?</span></dt>
       			<dd><input type="password" name="password_confirm" id="password_confirm" maxlength="255" value="{PASSWORD_CONFIRM}" class="inputbox" title="{L_CONFIRM_PASSWORD}" /></dd>
       		</dl>

          <fieldset class="submit-buttons">
          	{S_HIDDEN_FIELDS}<input type="reset" value="{L_RESET}" name="reset" class="button2" />&nbsp;
          	<input type="submit" name="submit" value="{L_SUBMIT}" class="button1" id="resetSubmit" />
          	{S_FORM_TOKEN}
          </fieldset>

         </form>
       <!-- ENDIF -->

       <!-- IF S_RESET_RESPONSE eq 'INVALID_KEY' -->
        The key you have specified is invalid.
       <!-- ENDIF -->

       <!-- IF S_RESET_RESPONSE eq 'PASSWORD_MISSMATCH' -->
        Password missmatch.
       <!-- ENDIF -->

       <!-- IF S_RESET_RESPONSE eq 'SUCCESS' -->
       Your password has been reset.
       <!-- ENDIF -->

      </p>
   </div>

   <span class="corners-bottom"><span></span></span></div>
</div>

<!-- INCLUDE jumpbox.html -->
<!-- INCLUDE overall_footer.html -->
